.advantages {
  padding-bottom: 320px;

  text-align: center;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% bottom;
}

.advantages__lead-in-wrapper {
  font-size: 24px;
}

.advantages__list {
  padding: 0;

  text-align: center;
  list-style: none;

  background-color: @bg-lightgrey;
}

.advantages__list-item {
  margin: 0;

  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 28px;
  padding-right: 28px;
}

.advantages__list-item-header,
.advantages__list-item-description {
  margin: 0;
  padding: 0;

  line-height: 24px;
}

.advantages__list-item-header {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: bold;
}

.advantages__list-item-description {
  font-size: 14px;
  font-weight: normal;
  color: #283645;
}
