.contacts {
  margin-bottom: 33px;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item-header {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: @font-bold;
  color: @dark-blue;
}

.contacts__item-contact-phone,
.contacts__item-contact-email,
.contacts__item-contact-address {
  font-size: 24px;
  font-weight: @font-light;
  color: @pink;
  text-decoration: none;
  list-style: none;

  &:hover,
  &:focus {
    color: @dark-blue;
    text-decoration: underline;
  }

  &:active {
    color: @dark-blue-translucent;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 250px;
  }

  .contacts__item:not(:last-of-type) {
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .contacts__item--rearranged {
    order: -1;
  }

  .contacts__item-header {
    margin-bottom: 20px;
  }
}
