.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  .nav-toggle-closed-wrapper(-50px);
}

.main-nav--closed .main-nav__toggle--burger {
  .nav-toggle(@white);

  &::before {
    .nav-toggle-burger(-10px; @white);
  }

  &::after {
    .nav-toggle-burger(10px; @white);
  }
}

.main-nav--opened .main-nav__toggle {
  .nav-toggle-opened-wrapper(-50px);

  &::before {
    .nav-toggle-x(@white; 45deg);
  }

  &::after {
    .nav-toggle-x(@white; -45deg);
  }
}

@media (max-width: @to-desktop-width-only) {
  .main-nav--closed .site-list__item,
  .main-nav--closed .site-list__item--active {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    margin: 0;
    padding: 0;
  }

  .main-nav--closed .main-nav__toggle {
    .nav-toggle-closed-wrapper(-70px);
  }

  .main-nav--opened .main-nav__toggle {
    .nav-toggle-opened-wrapper(-70px);
  }
}

@media (min-width: @desktop-width) {
  .main-nav.main-nav--closed {
    display: block;
  }

  .main-nav__toggle {
    display: none;
  }
}
