.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  .nav-toggle-closed-wrapper(-47px);
    .bg-image(url("../img/icon-menu-burger.svg"); 50px 24px; 1px 2px);

  &:hover,
  &:focus {
    .bg-image(url("../img/icon-menu-burger-hover.svg"); 50px 24px; 1px 2px);
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle--burger {
  width: 50px;
  height: 24px;
}

.main-nav--opened .main-nav__toggle {
  .nav-toggle-opened-wrapper(-49px);

  .bg-image(url("../img/icon-menu-cross.svg"); 24px 23px; 1px 1px);

  &:hover,
  &:focus {
    .bg-image(url("../img/icon-menu-cross-hover.svg"); 24px 23px; 1px 1px);
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: @to-desktop-width-only) {
  .main-nav--closed .site-list__item,
  .main-nav--closed .site-list__item--active {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    margin: 0;
    padding: 0;
  }

  .main-nav--closed .main-nav__toggle {
    .nav-toggle-closed-wrapper(-70px);
  }

  .main-nav--opened .main-nav__toggle {
    .nav-toggle-opened-wrapper(-70px);
  }
}

@media (min-width: @desktop-width) {
  .main-nav.main-nav--closed {
    display: block;
    padding-top: 15px;
  }

  .main-nav__toggle {
    display: none;
  }
}
