.page-footer {
  position: relative;
  padding: 0;
}

.page-footer__lead-in {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 20px;

  font-size: @font-size-title-mobile;
  font-weight: @font-light;
  color: @dark-blue;
  text-align: center;
}

.page-footer__contacts {
  padding: 0 40px;

  text-align: center;
}

.page-footer--inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 40px 70px;
}

.page-footer--inner--hidden {
  display: none;
}

.page-footer__logo,
.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__copyright {
  font-size: 14px;
  color: @dark-blue;
  line-height: 18px;
}

.page-footer__map {
  position: absolute;
  margin: 0;
  padding: 0;

  z-index: 2z;
}

.page-footer__map-white-mask {
  position: absolute;
  top: 0;

  width: 320px;
  height: 35px;
  padding: 0;

  z-index: 20;

  .bg-image(url("../img/bg-triangle-white-footer.svg"); cover; center top);
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 50px;
  }

  .page-footer__lead-in {
    margin: 0;
    margin-bottom: 40px;
    padding: 0 100px;

    font-size: @font-size-title-tablet;
    text-align: center;
  }

  .page-footer--inner,
  .page-footer--inner--hidden {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    padding: 36px 20px 51px;
  }

  .page-footer__logo,
  .page-footer__social {
    margin: 0;
  }

  .page-footer__logo img {
    display: block;
    width: 147px;
    height: 40px;
  }

  .page-footer__map iframe {
    width: @tablet-width;
    height: @tablet-map;
  }

  .page-footer__map-white-mask {
    top: -1px;
    width: @tablet-width;
    height: 70px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 70px;
  }

  .page-footer--inner,
  .page-footer--inner--hidden {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 70px 130px 87px;
  }

  .page-footer__logo,
  .page-footer__social {
    margin: 0;
  }

  .page-footer__lead-in {
    margin-bottom: 55px;
    padding: 0 300px;

    font-size: @font-size-title-desktop;
  }

  .page-footer__map iframe {
    width: @desktop-width;
    height: @desktop-map;
  }

  .page-footer__map-white-mask {
    width: @desktop-width;
    height: 125px;

    .bg-image(url("../img/bg-triangle-white-footer.svg"); cover; center top);
  }
}
