.page-footer {
  padding: 0;
}

.page-footer__lead-in {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 24px;
  font-weight: 200;
  color: #283645;
  text-align: center;
}

.page-footer__contacts {
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

  text-align: center;
}

.page-footer--inner {
  padding: 40px 70px;
}

.page-footer--inner--hidden {
  display: none;
}

.page-footer__logo,
.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__copyright {
  font-size: 14px;
  color: #283645;
  line-height: 18px;
}

.page-footer__map {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-footer__lead-in {
    margin: 0;
    margin-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;

    font-size: 40px;
    text-align: center;
  }

  .page-footer--inner--hidden {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-top: 35px;
    padding-bottom: 40px;
  }

  .page-footer__logo,
  .page-footer__social {
    margin: 0;
  }

  .page-footer__map {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 70px;
  }

  .page-footer--inner--hidden {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .page-footer__logo,
  .page-footer__social {
    margin: 0;
  }

  .page-footer__lead-in {
    margin-bottom: 55px;
  }

  .page-footer__map {
    width: 1200px;
  }
}
