.page-header__header-logo-wrapper {
  min-width: 280px;
  padding: 22px 20px;

  background-color: @nav-bg-transparent;
}

.page-header__bg-wrapper--mobile {
  .bg-image(url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg"); left bottom, center bottom);
  background-color: @bg-alternate;
}

.page-header__load-lead-in-wrapper {
  width: 230px;

  margin: 0;
  padding-top: 23px;
  padding-bottom: 310px;
  padding-left: 45px;
  padding-right: 45px;
}

.page-header__load-lead-in {
  margin: 0;

  font-size: 24px;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-color: @nav-bg-transparent;
  }

  .page-header__bg-wrapper {
    display: flex;
    flex-direction: column;

    .bg-image(url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg"); -20px bottom, center top);
    background-color: @bg-alternate;
  }

  .page-header__bg-wrapper--mobile {
    background: none;
  }

  .page-header__header-logo-wrapper {
    min-width: 280px;
    padding: 40px 20px;

    background-color: @nav-bg-transparent;
  }

  .page-header__load-lead-in-wrapper {
    width: 210px;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 75px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .page-header__load-lead-in {
    margin: 0;
    padding: 0;

    font-size: 40px;
    font-weight: 300;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-width: 1200px;

    background-color: @nav-bg-transparent;
  }

  .page-header__header-logo-wrapper {
    padding: 40px 120px;
  }

  .page-header__bg-wrapper {
    .bg-image(url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg"); right bottom, center bottom);
    background-color: @bg-alternate;
  }

  .page-header__load-lead-in-wrapper {
    width: 300px;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 0;
    padding-top: 90px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .page-header__load-lead-in {
    margin: 0;
    padding: 0;

    font-size: 50px;
    font-weight: 300;
  }
}
