.page-header__header-logo-wrapper {
  width: 280px;
  padding: 22px 20px;

  background-color: rgba(29, 38, 49, 0.3);
}


/*
@media (min-width: @tablet-width) {
  .page-header {
    background-color: r@bg-darkblue;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: @bg-darkblue;
  }
}
*/
