.photo-contest-form {
  display: flex;
  flex-direction: column;
}

.photo-contest-form__fieldset-user-name,
.photo-contest-form__fieldset-user-info,
.photo-contest-form__fieldset-user-app,
.photo-contest-form__fieldset-user-comment {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  border: none;
}

.photo-contest-form__fieldset-user-adventures {
  border: none;
}

.photo-contest-form__fieldset-user-app,
.photo-contest-form__fieldset-user-adventures {
  padding: 40px 20px;
  margin: 0 0 10px;

  background-color: @bg-light-grey;
}

.photo-contest-form__fieldset-user-name,
.photo-contest-form__fieldset-user-info,
.photo-contest-form__fieldset-user-comment,
.photo-contest-form__submit-wrapper {
  padding: 20px;
}

.photo-contest-form__fieldset-user-name,
.photo-contest-form__fieldset-user-info {
  margin-bottom: 7px;
}

.photo-contest-form__fieldset-user-adventures-wrapper,
.photo-contest-form__fieldset-user-adventures-cols-wrapper {
  display: flex;
  flex-direction: column;
}

.photo-contest-form__fieldset-user-adventures-cols-wrapper:not(:last-child) {
  margin-bottom: 50px;
}

.photo-contest-form__user-adventures-header,
.photo-contest-form__user-app-header,
.photo-contest-form__user-comment-header {
  font-size: 14px;
  font-weight: @font-normal;
  color: @pink;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.photo-contest-form__user-comment-header {
  margin: 0;
  padding: 35px 20px 0;
}

.photo-contest-form__user-adventures-header,
.photo-contest-form__user-app-header {
  width: 100%;
  margin: 0;
  padding: 35px 20px 0;

  background-color: @bg-light-grey;
}

.photo-contest-form__user-info-header--mobile-hidden {
  display: none;
}

.photo-contest-form__user-name-wrapper,
.photo-contest-form__user-info-wrapper {
  display: flex;
  flex-direction: column;
}

.photo-contest-form__user-name-label,
.photo-contest-form__user-info-label {
  margin: 0 0 5px;
  padding: 0 0 0 20px;

  font-size: 14px;
  font-weight: @font-normal;
  color: @pink;
  line-height: 30px;
  text-transform: uppercase;
}

.photo-contest-form__user-name-input,
.photo-contest-form__user-info-input,
.photo-contest-form__user-comment-input {
  padding: 14px 20px 15px;

  font-size: 18px;
  line-height: 30px;
  color: @dark-blue;

  border: solid 2px @border-grey;
  border-radius: 2px;
  outline: none;

  &:hover,
  &focus {
    border-color: @dark-blue;
  }

  &:active {
    border-color: @pink;
  }
}

.photo-contest-form__user-comment-input {
  width: 100%;
  height: 197px;

  box-sizing: border-box;
}

.photo-contest-form__user-name-input,
.photo-contest-form__user-info-input {
  margin-bottom: 15px;
}

.photo-contest-form__fieldset-feature-title {
  position: relative;
  padding-left: 68px;

  font-size: 18px;
  color: @dark-blue;
  line-height: 30px;
}

.photo-contest-form__fieldset-feature-title:not(:last-child) {
  margin-bottom: 50px;
}

.photo-contest-form__fieldset-feature-title [type="checkbox"] + .checkbox-indicator {
  .checkbox-indicator(@border-grey);
}

.photo-contest-form__fieldset-feature-title [type="radio"] + .radio-indicator {
  .radio-indicator(@border-grey);
}

.photo-contest-form__fieldset-feature-title [type="checkbox"]:hover + .checkbox-indicator,
.photo-contest-form__fieldset-feature-title [type="checkbox"]:focus + .checkbox-indicator {
  .checkbox-indicator(@dark-blue);
}

.photo-contest-form__fieldset-feature-title [type="radio"]:hover + .radio-indicator,
.photo-contest-form__fieldset-feature-title [type="radio"]:focus + .radio-indicator {
  .radio-indicator(@dark-blue);
}

.photo-contest-form__fieldset-feature-title [type="checkbox"]:active + .checkbox-indicator {
  .checkbox-indicator(@pink);
}

.photo-contest-form__fieldset-feature-title [type="radio"]:active + .radio-indicator {
  .radio-indicator(@pink);
}

.photo-contest-form__fieldset-feature-title [type="checkbox"]:checked + .checkbox-indicator::before {
  .checkbox-indicator-checked(10px; 7px);
}

.photo-contest-form__fieldset-feature-title [type="radio"]:checked + .radio-indicator::before {
  .radio-indicator-checked(10px; 10px);
}

.photo-contest-form__submit-wrapper {
  margin: 0 auto;
}

.photo-contest-form__submit-btn {
  width: 276px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 14px 20px 15px;

  font-size: 18px;
  font-weight: @font-bold;
  color: @white;
  line-height: 30px;
  text-transform: uppercase;

  border: 2px solid @green-btn;
  border-radius: 2px;
  background-color: @green-btn;

  &:hover,
  &:focus {
    border-color: @green-btn-hover;
    background-color: @green-btn-hover;
  }

  &:active {
    color: @white-translucent;
  }

  &:disabled {
    border-color: @border-grey;
    background-color: @border-grey;
  }
}

.photo-contest-form__required-note {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  color: @dark-blue;
  text-transform: uppercase;
  text-align: center;

  span {
    color: @pink;
  }
}

@media (min-width: @tablet-width) {
  .photo-contest-form__fieldset-user-app,
  .photo-contest-form__fieldset-user-adventures,
  .photo-contest-form__fieldset-user-info,
  .photo-contest-form__fieldset-user-comment {
    background-color: transparent;
    border: 2px solid @border-grey;
  }

  .photo-contest-form__fieldset-user-app,
  .photo-contest-form__fieldset-user-adventures,
  .photo-contest-form__fieldset-user-info {
    margin-bottom: 55px;
  }

  .photo-contest-form__fieldset-user-app,
  .photo-contest-form__fieldset-user-adventures {
    padding: 44px 58px 54px;
  }

  .photo-contest-form__fieldset-user-info {
    padding: 30px 58px 0;
  }

  .photo-contest-form__fieldset-user-name {
    order: -4;

    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .photo-contest-form__fieldset-user-comment {
    padding: 35px 58px 50px;
    margin-bottom: 48px;
  }

  .photo-contest-form__user-adventures-header,
  .photo-contest-form__user-app-header,
  .photo-contest-form__user-comment-header {
    width: auto;
    margin: 0;
    padding: 10px 30px;

    background-color: transparent;
  }

  .photo-contest-form__user-info-header--mobile-hidden {
    display: block;

    margin: 0;
    padding: 10px 30px;

    font-size: 14px;
    font-weight: @font-normal;
    color: @pink;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
  }

  .photo-contest-form__user-name-wrapper {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0;
  }

  .photo-contest-form__user-name-wrapper:not(:last-of-type) {
    margin-bottom: 37px;
  }

  .photo-contest-form__user-name-label {
    padding-left: 0;
    margin-right: 20px;
  }

  .photo-contest-form__user-name-input {
    flex-grow: 1;
  }

  .photo-contest-form__user-info-wrapper {
    flex-direction: column-reverse;
    position: relative;
  }

  .photo-contest-form__user-info-input {
    margin-bottom: 10px;
  }

  .photo-contest-form__user-info-label {
    margin-bottom: 30px;
  }

  .photo-contest-form__user-info-label--phone::before {
    .user-info-input-icon(url("../img/icon-phone.svg"); 20px; 19px);
  }

  .photo-contest-form__user-info-label--mail::before {
    .user-info-input-icon(url("../img/icon-mail.svg"); 18px; 19px);
  }

  .photo-contest-form__fieldset--rearranged-first {
    order: -2;
  }

  .photo-contest-form__fieldset--rearranged-second {
    order: -1;
  }

  .photo-contest-form__submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    margin: 0;
    padding: 20px 0;
  }

  .photo-contest-form__submit-btn {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-contest-form {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 130px;
  }

  .photo-contest-form__fieldset-user-app,
  .photo-contest-form__fieldset-user-name {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    box-sizing: border-box;
  }

  .photo-contest-form__fieldset-user-app {
    width: 435px;
    height: 310px;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 74px;
  }

  .photo-contest-form__user-app-header {
    width: 100%;
    padding: 0 5px;
  }

  .photo-contest-form__fieldset-user-app .photo-contest-form__fieldset-feature-title {
    padding-left: 68px;
  }

  .photo-contest-form__fieldset-user-app .photo-contest-form__fieldset-feature-title:not(:last-child) {
    margin-bottom: 45px;
  }

  .photo-contest-form__fieldset-user-name {
    width: 435px;
    padding: 10px 0;
    margin-right: auto;
  }

  .photo-contest-form__user-name-wrapper:not(:last-of-type) {
    margin-bottom: 56px;
  }

  .photo-contest-form__user-name-label {
    margin-right: 20px;
  }

  .photo-contest-form__user-name-input {
    margin: 0;
  }

  .photo-contest-form__fieldset-user-info {
    width: 100%;
  }

  .photo-contest-form__user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .photo-contest-form__user-info-wrapper {
    min-width: 375px;
  }

  .photo-contest-form__fieldset-user-adventures {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0 0 60px;
  }

  .photo-contest-form__fieldset-user-adventures-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo-contest-form__fieldset-user-adventures-cols-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 210px;
    margin-bottom: 50px;
  }

  .photo-contest-form__fieldset-user-adventures-cols-wrapper:not(:last-child) {
    margin-right: 50px;
  }

  .photo-contest-form__fieldset-user-adventures-cols-wrapper .photo-contest-form__fieldset-feature-title {
    padding-left: 60px;
  }

  .photo-contest-form__fieldset-user-comment {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 43px;
    margin-bottom: 65px;
  }

  .photo-contest-form__user-comment-header {
    padding: 0 30px;
  }

  .photo-contest-form__user-comment-input {
    height: 124px;
  }

  .photo-contest-form__submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
    padding: 0;
  }

  .photo-contest-form__required-note .photo-contest-form__required-note--mobile-hidden {
    color: @dark-blue;
  }
}
