.product-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;

  background-color: #1d2631;
}

.product-load__wrapper {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 30px;

  text-align: center;

  list-style: none;
}

.product-load__default-btn {
  margin-bottom: 32px;
  padding-top: 11px;
  padding-bottom: 16px;
  padding-left: 34px;
  padding-right: 34px;

  border: 3px #ffffff solid;
  border-radius: 24px;
}

.product-load__default-link {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  color: inherit;
  vertical-align: middle;
  line-height: 18px;
  text-decoration: none;
}

.product-load__list {
  margin-bottom: 30px;
  padding-top: 59px;
}

.product-load__version-description {
  width: 280px;
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .product-load {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
  }

  .product-load__wrapper {
    width: 300px;
    padding: 0;
    margin: 0;

    text-align: center;
    background: transparent;
  }

  .product-load__default-btn {
    margin: 0;
    margin-bottom: 46px;
    padding-left: 42px;
    padding-right: 42px;
  }

  .product-load__list {
    margin-bottom: 40px;
  }

  .product-load__version-description {
    width: 300px;
    padding: 0;
    margin: 0;
    margin-bottom: 105px;

    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .product-load {
    padding-left: 120px;
    padding-right: 120px;
  }

  .product-load__default-btn {
    margin-bottom: 67px;
    padding-top: 11px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .product-load__default-link {
    font-size: 21px;
  }

  .product-load__list {
    margin-bottom: 60px;
  }

  .product-load__version-description {
    margin-bottom: 115px;
  }
}
