.product-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: @white;

  background-color: @load-bg-darker-blue;
}

.product-load__wrapper {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 30px;

  text-align: center;

  .no-list();
}

.product-load__default-btn {
  margin-bottom: 32px;
  padding: 11px 34px 16px;

  border: 3px @white solid;
  border-radius: 24px;
}

.product-load__default-link {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: @font-bold;
  color: inherit;
  vertical-align: middle;
  line-height: 18px;
  text-decoration: none;
}

.product-load__list {
  margin-bottom: 30px;
  padding-top: 59px;
}

.product-load__version-description {
  width: 280px;
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .product-load {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 20px;
    background: transparent;
  }

  .product-load__wrapper {
    width: 300px;
    padding: 0;
    margin: 0;

    text-align: center;
    background: transparent;
  }

  .product-load__default-btn {
    margin: 0;
    margin-bottom: 46px;
    padding-left: 42px;
    padding-right: 42px;
  }

  .product-load__list {
    margin-bottom: 40px;
  }

  .product-load__version-description {
    width: 300px;
    padding: 0;
    margin: 0;
    margin-bottom: 105px;

    font-size: 18px;
    font-weight: @font-light;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .product-load {
    padding-left: 130px;
    padding-right: 130px;
  }

  .product-load__default-btn {
    margin-bottom: 67px;
    padding: 11px 10px 16px;
  }

  .product-load__default-link {
    font-size: 21px;
  }

  .product-load__list {
    margin-bottom: 60px;
  }

  .product-load__version-description {
    margin-bottom: 115px;
  }
}
