.product-links-list {
  position: relative;
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-links-list__item-ios::before {
  .load-icon(url("../img/logo-apple.svg"); 47px; 56px; 5px; 38px);
}

.product-links-list__item-android::before {
  .load-icon(url("../img/logo-android.svg"); 43px; 47px; 13px; 119px);
}

.product-links-list__item-windows::before {
  .load-icon(url("../img/logo-microsoft.svg"); 44px; 41px; 17px; 199px);
}

@media (min-width: @tablet-width) {
  .product-links-list__item-ios::before {
    .load-icon(url("../img/logo-apple.svg"); 47px; 56px; 7px; 46px);
  }

  .product-links-list__item-android::before {
    .load-icon(url("../img/logo-android.svg"); 43px; 47px; 13px; 130px);
  }

  .product-links-list__item-windows::before {
    .load-icon(url("../img/logo-microsoft.svg"); 44px; 41px; 19px; 207px);
  }
}
