.product-rates {
  margin-bottom: 40px;
}

.product-rates__list {
  width: 276px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .product-rates {
    margin: 0;
    padding: 90px 20px 68px;

    background-color: @bg-light-grey;
  }

  .product-rates__list {
    width: 620px;
    margin: 0;
  }

  .product-rates__slider {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .product-rates__list {
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}
