.slides {
  overflow: hidden;
}

.slides__wrapper {
  width: 300%;
}

.slides__review-slide {
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}

.slides__reveiw-user-name,
.slides__reveiw-text {
  padding: 0;
  margin: 0;
}

.slides__reveiw-user-name {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.slides__reveiw-user-info {
  display: none;
}

.slides__reveiw-text {
  margin-bottom: 30px;

  font-size: 14px;
  font-weight: normal;
  color: #283645;
  line-height: 30px;
}

.product-rates__list {
  width: 276px;
  border-collapse: collapse;
}

.slides__rate-name-price-wrapper,
.slides__rate-name-price-wrapper--hit-rate {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 90px;
  padding-right: 90px;

  text-align: center;

  background-color: #283645;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.slides__rate-name {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
}

.slides__rate-price {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  line-height: 30px;
  white-space: nowrap;
}

.slides__rate-feature {
  background-color: #ffffff;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}

.slides__rate-feature-name {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 22px;

  font-size: 14px;
  color: #283645;
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .slides__review-slide {
    display: flex;
    flex-direction: column;
  }

  .slides__reveiw-user-info {
    display: inline-block;

    font-size: 14px;
    font-weight: normal;
    color: #283645;
    line-height: 30px;
  }

  .slides__reveiw-text {
    order: -1;

    font-size: 18px;
    font-weight: normal;
    color: #283645;
    line-height: 30px;
  }
}
