.slides__wrapper {
  width: 300%;

  border-collapse: collapse;
}

.slides__review-slide {
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}

.slides__reveiw-user-name,
.slides__reveiw-text {
  padding: 0;
  margin: 0;
}

.slides__reveiw-user-name {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.slides__reveiw-user-info {
  display: none;
}

.slides__reveiw-text {
  margin-bottom: 30px;

  font-size: 14px;
  font-weight: normal;
  color: #283645;
  line-height: 30px;
}

.slides__rate-feature--hidden,
.slides__rate-feature-name--hidden,
.slides__rate-name-price--hidden {
  display: none;
}

.slides__rate-name-price,
.slides__rate-name-price--hit-rate {
  margin: 0;
  padding: 19px 90px;

  text-align: center;

  background-color: #283645;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.slides__rate-name {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
}

.slides__rate-price {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  line-height: 30px;
  white-space: nowrap;
}

.slides__rate-feature {
  background-color: #ffffff;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}

.slides__rate-feature-name {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 22px;

  font-size: 14px;
  color: #283645;
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .slides__wrapper {
    width: 620px;
  }

  .slides__review-slide {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .slides__reveiw-user-name {
    margin-bottom: 5px;

    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
  }

  .slides__reveiw-user-info {
    display: block;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-size: 14px;
    font-weight: normal;
    color: #283645;
    line-height: 30px;
  }

  .slides__reveiw-text {
    order: -1;

    font-size: 18px;
    font-weight: normal;
    color: #283645;
    line-height: 30px;
  }

  .slides__rate-feature--hidden,
  .slides__rate-name-price--hidden,
  .slides__rate-feature-name--hidden {
    display: table-cell;
  }

  .slides__rate-name-price--hidden {
    margin: 0;
    padding: 0;
  }

  .slides__rate-name-price-wrapper {
    border-right: 2px solid #283645;
  }

  .slides__rate-name-price {
    padding: 8px 37px 8px;

    border-top: 2px solid #283645;
    border-bottom: 2px solid #283645;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
  }

  .slides__rate-name {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
  }

  .slides__rate-price {
    font-size: 18px;
    font-weight: 300;
  }

  .slides__rate-feature-name {
    display: none;
  }

  .slides__rate-feature--hidden {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 20px;

    background-color: #ffffff;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
  }

  .slides__rate-feature-name--hidden {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #283645;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .slides__review-slide {
    width: 760px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .slides__rate-feature-name--hidden {
    font-size: 18px;
  }
}
