.slides__review-slide {
  width: 276px;

  padding-left: 25px;
  padding-right: 25px;

  text-align: center;
}

.slides__reveiw-user-name,
.slides__reveiw-text {
  padding: 0;
  margin: 0;
}

.slides__reveiw-user-name {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.slides__reveiw-text {
  font-size: 14px;
  line-height: 30px;
}

.slides__rate-slide {
  width: 276px;
}

.slides__rate-name-price-wrapper {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 80px;
  padding-right: 80px;

  text-align: center;
  background-color: #283645;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.slides__rate-name {
  margin: 0;
  padding: 0;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.slides__rate-price {
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
}

.slides__rate-features {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
