.slider__control-label {
  display: inline-block;
  margin: 0 10px;
  width: 5px;
  height: 5px;
  background-color: rgba(25, 37, 49, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider__toggle-input {
  display: none;
}

#rates-btn-1:checked ~ .slider__controls .slider__control-label[for="rates-btn-1"],
#rates-btn-2:checked ~ .slider__controls .slider__control-label[for="rates-btn-2"],
#rates-btn-3:checked ~ .slider__controls .slider__control-label[for="rates-btn-3"],
#review-btn-1:checked ~ .slider__controls .slider__control-label[for="review-btn-1"],
#review-btn-2:checked ~ .slider__controls .slider__control-label[for="review-btn-2"],
#review-btn-3:checked ~ .slider__controls .slider__control-label[for="review-btn-3"] {
  box-shadow: 0 0 0 3px rgb(40, 54, 69);
  background-color: #ffffff;
  border-radius: 50%;
}
