.slider__toggles {
  text-align: center;
}

.slider__control-label {
  display: inline-block;
  margin: 0 7px;

  width: 6px;
  height: 6px;

  vertical-align: middle;
  background-color: rgba(25, 37, 49, 0.3);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(25, 37, 49, 0.6);
  }

  &:active {
    background-color: rgba(25, 37, 49, 0.1);
  }
}

#rate-basic:checked ~ .slider__controls label[for="rate-basic"],
#rate-regular:checked ~ .slider__controls label[for="rate-regular"],
#rate-unlim:checked ~ .slider__controls label[for="rate-unlim"] {
  background-color: @white;
  box-shadow: 0 0 0 3px rgb(40, 54, 69);
}

#review-btn-1:checked ~ .slider__controls label[for="review-btn-1"],
#review-btn-2:checked ~ .slider__controls label[for="review-btn-2"],
#review-btn-3:checked ~ .slider__controls label[for="review-btn-3"] {
  background-color: @white;
  box-shadow: 0 0 0 3px rgb(40, 54, 69);
}

.slider__control-arrow-left,
.slider__control-arrow-right {
  display: none;
}

@media (min-width: @desktop-width) {
  .slider__toggles {
    display: none;
  }

  .slider__control-arrow-left,
  .slider__control-arrow-right {
    display: block;
    position: absolute;
    top: 50%;

    width: 22px;
    height: 41px;

    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    cursor: pointer;
  }

  .slider__control-arrow-left {
    .bg-image(url("../img/icon-review-arrow-left.svg"); 22px 41px; center center);

    left: 130px;
  }

  .slider__control-arrow-right {
    .bg-image(url("../img/icon-review-arrow-right.svg"); 22px 41px; center center);

    right: 130px;
  }
}
