.upload-photo-form {
  padding: 0 20px;
  background-color: @bg-light-grey;
}

.upload-photo-form__load-img-fieldset {
  margin: 0 auto;
  padding: 20px 0;
  border: none;
}

.upload-photo-form__load-img-wrapper {
  position: relative;
  height: 374px;
  width: 280px;
  margin: 0 auto;
}

.upload-photo-form__load-img-label {
  position: absolute;
  top: 0;
  left: 0;

  width: @mobile-wrapper-width;
  height: 374px;

  font-size: 0;

  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/photo-road-mobile@2x.jpg");
  }
}

.upload-photo-form__load-img-input:focus + .upload-photo-form__load-img-label {
  outline: auto 5px highlight;
}

.upload-photo-form__edit-img-fieldset {
  width: @mobile-wrapper-width;
  margin: 0 auto;
  padding: 20px 0;

  border: none;
  border-bottom: 1px solid @dark-blue-translucent-btn;
}

.upload-photo-form__effects-list {
  display: flex;
  justify-content: space-around;

  margin: 0 0 40px;
  padding: 0 20px;

  list-style: none;
}

.upload-photo-form__effects-item {
  position: relative;

  width: 48px;
  height: 44px;
}

.upload-photo-form__effects-item-label--crop {
  .filter-effects-icon(url("../img/icon-editor-crop.svg"); -1px; -1px; 44px; 44px);

  &:hover,
  &:focus {
    .filter-effects-icon(url("../img/icon-editor-crop-focus.svg"); -1px; -1px; 44px; 44px);
  }

  &:active {
    .filter-effects-icon(url("../img/icon-editor-crop-active.svg"); -1px; -1px; 44px; 44px);
  }
}

.upload-photo-form__effects-item-label--fill {
  .filter-effects-icon(url("../img/icon-editor-fill.svg"); -1px; -1px; 48px; 43px);

  &:hover,
  &:focus {
    .filter-effects-icon(url("../img/icon-editor-fill-focus.svg"); -1px; -1px; 48px; 43px);
  }

  &:active {
    .filter-effects-icon(url("../img/icon-editor-fill-active.svg"); -1px; -1px; 48px; 43px);
  }
}

.upload-photo-form__effects-item-label--contrast {
  .filter-effects-icon(url("../img/icon-editor-contrast.svg"); -1px; -1px; 32px; 32px);

  &:hover,
  &:focus {
    .filter-effects-icon(url("../img/icon-editor-contrast-focus.svg"); -1px; -1px; 32px; 32px);
  }

  &:active {
    .filter-effects-icon(url("../img/icon-editor-contrast-active.svg"); -1px; -1px; 32px; 32px);
  }
}

.upload-photo-form__effects-item-input:focus + .upload-photo-form__effects-item-label {
  outline: auto 5px highlight;
}

.upload-photo-form__edit-img-controls-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.upload-photo-form__edit-img-controls {
  display: none;
}

.upload-photo-form__edit-img-scale {
  position: relative;
}

#crop:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--crop,
#fill:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--fill,
#contrast:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--contrast {
  display: block;
  margin-bottom: 14px;
  padding: 0 20px;
}

.upload-photo-form__edit-img-toggle {
  cursor: pointer;
}

.upload-photo-form__edit-img-controls--crop .upload-photo-form__edit-img-toggle {
  .user-photo-edit-scale-toggle(-6px; 75%);

  &:active {
    background-color: @pink;
  }
}

.upload-photo-form__edit-img-controls--fill .upload-photo-form__edit-img-toggle {
  .user-photo-edit-scale-toggle(-6px; 50%);

  &:active {
    background-color: @pink;
  }
}

.upload-photo-form__edit-img-controls--contrast .upload-photo-form__edit-img-toggle {
  .user-photo-edit-scale-toggle(-6px; 30%);

  &:active {
    background-color: @pink;
  }
}

.upload-photo-form__edit-img-bar {
  height: 2px;

  background-color: #283645;
}

.upload-photo-form__load-btn-fieldset {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 40px 0;

  border: none;
}

.upload-photo-form__load-btn,
.upload-photo-form__cansel-btn {
  width: @mobile-wrapper-width;
  margin: 0;
  padding: 16px 0 17px 0;

  font-size: 18px;
  font-weight: @font-bold;
  line-height: 18px;
}

.upload-photo-form__load-btn {
  margin-bottom: 12px;
  color: @pink;

  border: 2px solid @pink;
  border-radius: 27px;

  &:hover,
  &:focus {
    color: @white;
    background-color: @pink;
  }

  &:active {
    color: @white-translucent;
    background-color: @pink;
  }
}

.upload-photo-form__cansel-btn {
  color: @dark-blue-translucent-btn;

  border: 2px solid @dark-blue-translucent-btn;
  border-radius: 27px;

  &:hover,
  &:focus {
    color: @dark-blue-translucent;

    border-color: @dark-blue-translucent;
  }

  &:active {
    color: @white-translucent;

    background-color: @dark-blue-translucent;
    border-color: transparent;
  }
}

@media (min-width: @tablet-width) {
  .upload-photo-form {
    display: flex;
    justify-content: space-between;
    padding: 55px 20px;
  }

  .upload-photo-form__load-img-fieldset {
    margin: 0;
    padding: 0;
  }

  .upload-photo-form__load-img-label {
    width: 300px;
    height: 400px;

    background-image: url("../img/photo-road-tablet@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-road-tablet@2x.jpg");
    }
  }

  .upload-photo-form__load-img-wrapper {
    width: 300px;
    height: 400px;
  }

  .upload-photo-form__edit-post-img-wrapper {
    margin: 0;
  }

  .upload-photo-form__edit-img-fieldset {
    position: relative;
    width: 275px;
    margin-bottom: 25px;
    padding: 0;

    border: none;
  }

  .upload-photo-form__effects-list {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: -16px;
    margin: 0;
    padding: 0;

    z-index: 10;
    list-style: none;
  }

  .upload-photo-form__effects-item {
    transform: scale(1/2);
  }

  .upload-photo-form__effects-item-label--crop,
  .upload-photo-form__effects-item-label--fill,
  .upload-photo-form__effects-item-label--contrast {
    left: -27px;

    &:hover,
    &:focus,
    &:active {
      left: -27px;
    }
  }

  .upload-photo-form__effects-item-label--crop {
    top: 30px;

    &:hover,
    &:focus,
    &:active {
      top: 30px;
    }
  }

  .upload-photo-form__effects-item-label--fill {
    top: 89px;

    &:hover,
    &:focus,
    &:active {
      top: 89px;
    }
  }

  .upload-photo-form__effects-item-label--contrast {
    top: 143px;

    &:hover,
    &:focus,
    &:active {
      top: 143px;
    }
  }

  .upload-photo-form__edit-img-controls,
  #crop:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--crop,
  #fill:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--fill,
  #contrast:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--contrast {
    display: block;
    margin: 0;
    padding: 34px 18px 34px 60px;

    border-bottom: 1px solid @dark-blue-translucent-btn;
  }

  .upload-photo-form__edit-img-controls--crop,
  #crop:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--crop {
    padding-top: 19px;
  }

  .upload-photo-form__edit-img-controls--crop .upload-photo-form__edit-img-toggle {
    .user-photo-edit-scale-toggle(-6px; 75%);
  }

  .upload-photo-form__edit-img-controls--fill .upload-photo-form__edit-img-toggle {
    .user-photo-edit-scale-toggle(-6px; 15%);
  }

  .upload-photo-form__edit-img-controls--contrast .upload-photo-form__edit-img-toggle {
    .user-photo-edit-scale-toggle(-6px; 50%);
  }

  .upload-photo-form__load-btn-fieldset {
    margin: 0;
    padding: 43px 0 0;
  }

  .upload-photo-form__load-btn,
  .upload-photo-form__cansel-btn {
    width: 260px;
  }

  .upload-photo-form__load-btn {
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .upload-photo-form {
    padding: 57px 60px 57px 80px;
  }

  .upload-photo-form__load-img-label {
    background-image: url("../img/photo-road-desktop@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-road-desktop@2x.jpg");
    }
  }

  .upload-photo-form__edit-img-controls,
  #crop:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--crop,
  #fill:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--fill,
  #contrast:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--contrast {
    padding: 34px 30px 34px 92px;
  }

  .upload-photo-form__edit-img-controls--crop,
  #crop:checked ~ .upload-photo-form__edit-img-controls-list .upload-photo-form__edit-img-controls--crop {
    padding-top: 19px;
  }

  .upload-photo-form__effects-item {
    transform: scale(1);
  }

  .upload-photo-form__effects-item-label--crop {
    top: 14px;
    left: -3px;

    &:hover,
    &:focus,
    &:active {
      top: 14px;
      left: -3px;
    }
  }

  .upload-photo-form__effects-item-label--fill {
    top: 43px;
    left: -1px;

    &:hover,
    &:focus,
    &:active {
      top: 43px;
      left: -1px;
    }
  }

  .upload-photo-form__effects-item-label--contrast {
    top: 68px;
    left: -3px;

    &:hover,
    &:focus,
    &:active {
      top: 68px;
      left: -3px;
    }
  }

  .upload-photo-form__edit-img-fieldset {
    width: 410px;
  }

  .upload-photo-form__edit-img-controls--crop .upload-photo-form__edit-img-toggle {
    .user-photo-edit-scale-toggle(-6px; 30%);
  }

  .upload-photo-form__edit-img-controls--fill .upload-photo-form__edit-img-toggle {
    .user-photo-edit-scale-toggle(-6px; 90%);
  }

  .upload-photo-form__edit-img-controls--contrast .upload-photo-form__edit-img-toggle {
    .user-photo-edit-scale-toggle(-6px; 60%);
  }

  .upload-photo-form__load-btn-fieldset {
    display: block;
    margin: 0;
    padding: 121px 0 0;
  }

  .upload-photo-form__load-btn,
  .upload-photo-form__cansel-btn {
    width: 183px;
  }

  .upload-photo-form__load-btn {
    margin: 0;
    margin-right: 44px;
  }
}
