.upload-photo__lead-in-wrapper {
  margin: 0;
  padding-left: 35px;
  padding-right: 35px;
}

.upload-photo__lead-in {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 55px;

  font-size: 14px;
  font-weight: 300;
  color: #283645;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .upload-photo__lead-in-wrapper {
    padding: 45px 35px;
  }

  .upload-photo__lead-in {
    font-size: 18px;
  }
}

@media (min-width: @tablet-width) {
  .upload-photo__lead-in-wrapper {
    padding: 15px 35px;
  }
}
