.users-photos__lead-in-wrapper {
  margin: 0;
  padding: 45px 35px 48px;

  background-color: @white;
}

.users-photos__lead-in {
  margin: 0;
  padding: 0;

  font-size: 14px;
  color: @dark-blue;
  line-height: 30px;
  text-align: center;
}

.users-photos__day-photo {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .users-photos__lead-in-wrapper {
    padding: 95px 100px 75px;
  }

  .users-photos__lead-in {
    font-size: 18px;
  }

  .users-photos__day-photo {
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .users-photos__lead-in-wrapper {
    padding: 95px 300px 90px;
  }
}
