.users-photos-catalog {
  margin: 0;
  padding: 0;

  list-style: none;
}

.users-photos-catalog__item {
  margin: 0 20px 20px;

  background-color: @bg-light-grey;
}

.users-photos-catalog__item-wrapper {
  padding: 18px 20px 20px;
}

.users-photos-catalog__user-picture {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.users-photos-catalog__user-name {
  font-weight: @font-bold;
}

.users-photos-catalog__photo-upload-time {
  font-size: 12px;
  color: @dark-blue;
}

.users-photos-catalog__photo-description,
.users-photos-catalog__user-name {
  font-size: 14px;
  line-height: 24px;
  color: @dark-blue;
}

.users-photos-catalog__photo-description {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.users-photos-catalog__photo-likes {
  position: relative;
  padding-left: 30px;
}

.users-photos-catalog__photo-likes-number,
.users-photos-catalog__photo-likes-count {
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  color: @pink;
  text-transform: uppercase;
}

.users-photos-catalog__photo-like-btn {
  position: absolute;
  top: 6px;
  left: 0;
  width: 13px;
  height: 12px;
  .user-photo-like-icon();

  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .users-photos-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 20px;
    margin: 0;
  }

  .users-photos-catalog__item {
    width: 300px;
    margin: 0;
    margin-bottom: 20px;
  }

  .users-photos-catalog__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: 155px;
    margin: 0;
    padding: 20px 25px;
    box-sizing: border-box;
  }

  .users-photos-catalog__photo-info {
    margin-bottom: 0;
  }

  .users-photos-catalog__photo-description {
    margin: 0;
    padding: 0;
  }

  .users-photos-catalog__photo-likes {
    margin-top: auto;
    padding-left: 0;
  }

  .users-photos-catalog__photo-like-btn {
    top: 6px;
    left: 235px;
  }
}

@media (min-width: @desktop-width) {
  .users-photos-catalog {
    padding-left: 130px;
    padding-right: 130px;
  }

  .users-photos-catalog__item,
  .users-photos-catalog__item--day-photo {
    margin-bottom: 55px;
  }

  .users-photos-catalog__item--day-photo {
    width: @desktop-width;
  }
}
