.bg-image(@img-source; @img-size; @img-position) {
  background-image: @img-source;
  background-repeat: no-repeat;
  background-size: @img-size;
  background-position: @img-position;
}

.load-icon(@logo-source; @logo-width; @logo-height; @logo-position-top; @logo-position-left) {
  content: "";
  position: absolute;
  top: @logo-position-top;
  left: @logo-position-left;

  width: @logo-width;
  height: @logo-height;

  background-image: @logo-source;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-toggle-closed-wrapper(@position-top) {
  position: absolute;
  top: @position-top;
  right: 20px;

  width: 52px;
  height: 26px;
  padding: 0;

  border: none;
  background-color: transparent;
}

.nav-toggle-opened-wrapper(@position-top) {
  position: absolute;
  top: @position-top;
  right: 20px;

  width: 26px;
  height: 26px;
  padding: 0;

  border: none;
  background-color: transparent;
}

.nav-toggle() {
  position: absolute;
  right: 1px;
  top: 1px;

  width: 50px;
  height: 24px;

  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
}

.nav-toggle-x(@bg-color; @rotate) {
  content: "";

  position: absolute;
  top: 11px;
  left: -2px;

  width: 30px;
  height: 4px;

  background-color: @white;

  transform: rotate(@rotate);
}

.nav-toggle-burger(@position-top; @bg-color) {
  content: "";

  position: absolute;
  left: 0;
  top: @position-top;

  width: 50px;
  height: 4px;

  background-color: @bg-color;
}

.advantages-item-bg(@img-source) {
  content: "";

  position: absolute;
  top: 0;
  left: 22px;

  width: 292px;
  height: 302px;

  background-image: @img-source;
  background-repeat: no-repeat;
  background-size: contain;
}

.rate-feature-toggle-on(@top; @right; @height; @rotate) {
  content: "";

  position: absolute;
  top: @top;
  right: @right;

  width: 3px;
  height: @height;

  background-color: @green;

  transform: rotate(@rotate);
}

.rate-feature-toggle-off(@top; @right; @rotate) {
  content: "";

  position: absolute;
  top: @top;
  right: @right;

  width: 3px;
  height: 35px;

  background-color: @orange;

  transform: rotate(@rotate);
}

.rate-border(@color-top; @color-bottom; @color-left; @color-right) {
  border-top: 2px solid @color-top;
  border-bottom: 2px solid @color-bottom;
  border-left: 2px solid @color-left;
  border-right: 2px solid @color-right;
}

.link-contact() {
  font-size: 24px;
  font-weight: 300;
  color: @pink;
  text-decoration: none;
}

.checkbox-indicator(@border-color) {
  position: absolute;
  top: -7px;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: @white;
  border: 2px solid @border-color;
  border-radius: 2px;
}

.radio-indicator(@border-color) {
  position: absolute;
  top: -7px;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: @white;
  border: 2px solid @border-color;
  border-radius: 50%;
}

.radio-indicator-checked(@top; @left) {
  content: "";

  position: absolute;
  top: @top;
  left: @left;

  width: 15px;
  height: 15px;

  background-color: @pink;
  border: 1px solid @pink;
  border-radius: 50%;
  box-sizing: border-box;
}

.checkbox-indicator-checked(@top; @left) {
  content: "";

  position: absolute;
  top: @top;
  left: @left;

  width: 22px;
  height: 16px;

  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
}

.filter-effects-icon(@icon-source; @top; @left; @icon-width; @icon-height) {
  position: absolute;
  top: @top;
  left: @left;

  width: 48px;
  height: 44px;

  font-size: 0;

  background-image: @icon-source;
  background-repeat: no-repeat;
  background-position: center;
  background-size: @icon-width @icon-height;

  cursor: pointer;
}

.user-info-input-icon(@icon-src; @icon-width; @icon-height) {
  content: "";

  position: absolute;
  top: 2px;
  right: 2px;

  width: 60px;
  height: 60px;

  background-color: @border-grey;
  background-image: @icon-src;
  background-repeat: no-repeat;
  background-size: @icon-width @icon-height;
  background-position: center;
}
