.bg-image(@img-source; @img-size; @img-position) {
  background-image: @img-source;
  background-repeat: no-repeat;
  background-size: @img-size;
  background-position: @img-position;
}

.load-icon(@logo-source; @logo-width; @logo-height; @logo-position-top; @logo-position-left) {
  content: "";
  position: absolute;
  top: @logo-position-top;
  left: @logo-position-left;

  width: @logo-width;
  height: @logo-height;

  background-image: @logo-source;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-toggle-closed-wrapper(@position-top) {
  position: absolute;
  top: @position-top;
  right: 19px;

  width: 52px;
  height: 26px;
  padding: 0;

  border: none;
  background-color: transparent;
}

.nav-toggle-opened-wrapper(@position-top) {
  position: absolute;
  top: @position-top;
  right: 19px;

  width: 26px;
  height: 26px;
  padding: 0;

  border: none;
  background-color: transparent;
}

.advantages-item-bg(@img-source) {
  content: "";

  position: absolute;
  top: 0;
  left: 22px;

  width: 292px;
  height: 302px;

  background-image: @img-source;
  background-repeat: no-repeat;
  background-size: contain;
}

.rate-feature-toggle-on(@height; @top; @right; @rotate) {
  content: "";

  position: absolute;
  top: @top;
  right: @right;

  width: 3px;
  height: @height;

  background-color: @green;

  transform: rotate(@rotate);
}

.rate-feature-toggle-off(@top; @right; @rotate) {
  content: "";

  position: absolute;
  top: @top;
  right: @right;

  width: 3px;
  height: 35px;

  background-color: @orange;

  transform: rotate(@rotate);
}

.rate-border(@color-top; @color-bottom; @color-left; @color-right) {
  border-top: 2px solid @color-top;
  border-bottom: 2px solid @color-bottom;
  border-left: 2px solid @color-left;
  border-right: 2px solid @color-right;
}

.hit-rate-mark(@bg-img; @bg-width; @bg-height; @bg-top; @bg-left) {
  &::before {
    content: "";

    position: absolute;
    top: @bg-top;
    left: @bg-left;

    width: @bg-width;
    height: @bg-height;

    background-image: @bg-img;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.hit-rate-note(@top; @left) {
  &::after {
    content: "Хит";

    position: absolute;
    top: @top;
    left: @left;

    font-size: 14px;
    font-weight: @font-normal;
    line-height: 30px;
    color: @white;
    text-transform: uppercase;
    transform: rotate(-45deg);
  }
}

.link-contact() {
  font-size: 24px;
  font-weight: 300;
  color: @pink;
  text-decoration: none;
}

.checkbox-indicator(@border-color) {
  position: absolute;
  top: -7px;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: @white;
  border: 2px solid @border-color;
  border-radius: 2px;
}

.radio-indicator(@border-color) {
  position: absolute;
  top: -7px;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: @white;
  border: 2px solid @border-color;
  border-radius: 50%;
}

.radio-indicator-checked(@top; @left) {
  content: "";

  position: absolute;
  top: @top;
  left: @left;

  width: 15px;
  height: 15px;

  background-color: @pink;
  border: 1px solid @pink;
  border-radius: 50%;
  box-sizing: border-box;
}

.checkbox-indicator-checked(@top; @left) {
  content: "";

  position: absolute;
  top: @top;
  left: @left;

  width: 22px;
  height: 16px;

  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
}

.filter-effects-icon(@icon-source; @icon-width; @icon-height; @top; @left) {
  position: absolute;
  top: @top;
  left: @left;

  width: 48px;
  height: 44px;

  font-size: 0;

  background-image: @icon-source;
  background-repeat: no-repeat;
  background-position: center;
  background-size: @icon-width @icon-height;

  cursor: pointer;
}

.user-info-input-icon(@icon-src; @icon-width; @icon-height) {
  content: "";

  position: absolute;
  top: 2px;
  right: 2px;

  width: 60px;
  height: 59px;

  background-color: @border-grey;
  background-image: @icon-src;
  background-repeat: no-repeat;
  background-size: @icon-width @icon-height;
  background-position: center;
}

.user-photo-like-icon() {
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.user-photo-edit-scale-toggle(@top; @left) {
  position: absolute;
  top: @top;
  left: @left;

  width: 14px;
  height: 14px;

  margin-left: -7px;
  background-color: @white;
  border: 2px solid @pink;
  border-radius: 50%;
  box-sizing: border-box;
}
