@tablet-width: 660px;
@desktop-width: 1200px;

@nav-bg-transparent: rgba(0, 0, 0, 0.3);
@dark-blue: #283645;
@bg-light-grey: #f2f2f2;
@pink: #d22856;
@white: #ffffff;
@border-grey: #e5e5e5;
@load-bg-darker-blue: #1d2631;

@font-light: 300;
@font-bold: bold;
@font-normal: normal;
@font-size-title-mobile: 24px;
@font-size-title-tablet: 40px;
@font-size-title-desktop: 50px;
@font-size-nav-menu: 18px;

@padding-horizontal-mobile: 20px;
@padding-horizontal-desktop: 120px;
